[2017-05-10 15:28] UsherBaby opened #6 "Hope to support one direction margin setting , like marginLeft"

[2017-05-10 15:33] Fondesa commented on #6
That could be nice. I have to figure out how to implement this.
If you have any idea, you can submit a PR, otherwise, I'll implement it as soon as possible.

[2017-08-02 12:58] Puneethsai opened #7 "Errors occur-ed while running your project library."
cannot resolve method with(),addTo(),removeFrom(). I had included gradle also. Can you please explain what is error.

[2017-08-02 14:39] Fondesa commented on #7
I can run the project successfully also deleting the cache.
1. Can you post here the build stacktrace?
2. Are you compiling against localDebug?

[2017-08-03 06:07] Puneethsai commented on #7
![console](https://user-images.githubusercontent.com/15609726/28908232-2aa30b6c-7840-11e7-9b53-5d75e0b42f9a.PNG)
![gradle](https://user-images.githubusercontent.com/15609726/28908234-2ae4ecbc-7840-11e7-8afb-0d344f976260.PNG)
![gradle_error](https://user-images.githubusercontent.com/15609726/28908235-2ae9789a-7840-11e7-8363-a3a82cd3e3f0.PNG)

[2017-08-03 06:56] Fondesa commented on #7
As written in the release notes of the version [1.3.0](https://github.com/Fondesa/RecyclerViewDivider/releases/tag/1.3.0), you must build the divider before adding it to the `RecyclerView`.
Example: `RecyclerViewDivider.with(context).build().addTo(recyclerView)`

[2017-08-04 13:52] Fondesa commented on #7
@Puneethsai Was the issue solved?

[2017-08-05 07:52] Puneethsai commented on #7
Thank you @Fondesa. Solved!!

[2017-08-05 08:05] #7 closed

[2017-08-31 02:08] Sforllln commented on #6
I think it should be the case

[2017-09-22 12:33] DaveMurchison83 opened #8 "Re-adds divider on refresh"
Can you create a method of removing itemdecoration on pull to refresh? Currently when a recyclerview is refreshed it adds the divider along with the existing one.

[2017-09-22 12:37] Fondesa commented on #8
@DaveMurchison83 Can you post here some code demonstrating how you are using the divider?

[2017-09-22 13:07] DaveMurchison83 commented on #8
Sure.

Very simply, after setting the recyclerview adapter, I call your code:

[code]

When I use pull to refresh, it clears the recyclerview but the divider isn't cleared, so when the recyclerview is populated again, it adds a second divider under each item.

If I use the official Android method of adding dividers, it works:

[code]

So it looks to me that by calling **removeItemDecoration** befo

[2017-09-22 13:43] Fondesa commented on #8
Actually, you can remove the `RecyclerViewDivider` as you are doing with the Android method.
You can do it using the method below in `RecyclerViewDivider` class:

[code]

So, taking your example changing the `DividerItemDecoration` to `RecyclerViewDivider`, the result is:

[code]

[2017-09-27 18:14] Fondesa commented on #8
@DaveMurchison83 If the issue is solved, can you close it?

[2017-10-10 06:05] hiphonezhu opened #9 "ItemDecoration 绘制问题"
如果在 adapter 中设置 item 的背景色，divider 使用的也是背景色，会导致 item 背景色盖住 divider 的，我猜应该重写 ItemDecoration 的 onDrawOver 方法 而不是 onDraw ？

[2017-10-11 20:35] Fondesa commented on #8
@DaveMurchison83 I'm closing it, reopen it again in case.

[2017-10-11 20:36] #8 closed

[2017-10-11 20:38] Fondesa commented on #9
@hiphonezhu I used Google Translate that translated your sentence in this one:
"If you set the background color of the item in the adapter, the divider is also using the background color, which will cause the item background to cover the divider. I guess I should rewrite the ItemDecoration's onDrawOver method instead of onDraw?"

In this case, post here the layout of the cell of your adapter and t

[2017-10-14 06:43] blackberry2016 commented on #9
@hiphonezhu Are you using the an emulator ?

[2017-10-14 08:17] blackberry2016 commented on #6
@Fondesa Is that under developing now ?

[2017-10-15 14:35] Fondesa commented on #6
@blackberry2016 Not for now, I'm busy with other projects actually. Obviously if you want to contribute, you can!

[2017-10-23 19:30] Fondesa commented on #6
@blackberry2016 @UsherBaby @Sforllln This is under developing now.

[2017-10-24 12:05] UsherBaby commented on #6
@Fondesa Greate work.

[2017-10-25 21:04] Fondesa commented on #6
Example of inset applied before (for the vertical list) and after (for the horizontal list)

<img src="https://user-images.githubusercontent.com/13958744/32023089-91c6e60e-b9d8-11e7-9c5f-dacdf62e2ee9.png" height="500">

[2017-11-01 15:10] Fondesa commented on #9
@hiphonezhu Closing it for missing information. Feel free to re-open it in case.

[2017-11-01 15:10] #9 closed

[2017-11-01 15:27] Fondesa commented on #6
The inset is now available with the version **1.4.0**.
You can add an inset using the method `inset(int, int)` or using the method `insetManager(InsetManager)` that is more flexible.
Check the doc for further explanations.

[2017-11-01 15:27] #6 closed

[2017-11-22 10:38] Fondesa opened #11 "Add possibility to specify defaults programmatically"
It would be useful to specify the defaults of `RecyclerViewDivider` programmatically.
Example:

[code]

[2017-12-10 08:41] samrakchan opened #14 "RTL divider not showing in Grid view"
Divider now working in RTL while using GridLayoutManager.

[2017-12-10 14:21] Fondesa opened #15 "Remove deprecated APIs"
All deprecated APIs must be removed.

[2017-12-10 14:23] Fondesa commented on #14
@samrakchan Actually this library doesn't support RTL. The RTL support will be released within the 2.0.0 version because there'll be some breaking changes.

[2017-12-10 14:32] Fondesa commented on #15
Removed at 6fa9bc423e1aef0ad6dc13eb6ff8d2146643a345

[2017-12-10 14:32] #15 closed

[2017-12-10 19:31] Fondesa commented on #14
Resolved in 4b29d835db9d35f33770fa682191cfb64bf8c61e

[2017-12-10 19:31] #14 closed

[2017-12-10 21:39] Fondesa commented on #11
Added in 9071886b306bc06fdcccc0d584b6dc26dff6f512

[2017-12-10 21:39] #11 closed

[2018-04-03 08:04] kjsolo opened #17 "GridLayoutManager, spanSizeLookup, position is -1"
[code]

[code]

[2018-04-03 20:15] Fondesa commented on #17
Fixed in [2.0.1](https://github.com/Fondesa/RecyclerViewDivider/releases/tag/2.0.1).
I contributed also to your repository updating the dependency and removing the `FIXME` lines.

[2018-04-03 20:15] #17 closed

[2018-04-04 01:17] kjsolo commented on #17
Wow, Thank you

[2018-04-08 07:43] kjsolo opened #20 "Can SizeManager add item position?"
[code]

[2018-04-08 17:56] Fondesa commented on #20
It could be a good idea to know which item is, but it's not that simple.
Because the size must be equal for all the items in a group.
So, adding the parameter `itemPosition` could bring to a misunderstanding of this method.

For those motivations, I don't think I'll expose the position of the item.
If you have a better solution, feel free to tell it.

[2018-07-04 02:06] stormlei opened #21 "GridLayoutManager topDivider"
How does the top line show up? @Fondesa

[2018-07-06 01:36] stormlei commented on #21
thanks

[2018-07-06 18:39] #21 closed

[2018-08-16 12:21] Airsaid opened #22 "Can you support Top Divider?"
Don't know if the author has plans to support it?

[2018-08-16 13:50] Fondesa commented on #22
Related to https://github.com/Fondesa/RecyclerViewDivider/issues/21
Currently, I have no plans to support it.

[2018-08-16 13:50] #22 closed

[2019-04-21 13:40] #20 closed

[2019-09-10 14:31] Back4fire opened #28 "Hide the vertical divider"
Is it possible to hide the vertical divider in a GrideLayoutMananger? I cannot find a way with VisibilityManager.

[2019-09-29 06:25] kjsolo opened #29 "Inset doesn't seem to make sense."
[code]

[2019-09-29 11:20] Fondesa commented on #28
Yes:

[code]

[2019-09-29 11:32] Fondesa commented on #29
You are right, the inset should be ignored in `getItemOffsets()` and used only in `onDraw()`.
Now the inset is correctly used in `onDraw` so the visual effect is correct.
The code related to insets in `getItemOffsets()` can be removed since, as you pointed out, it doesn't make any sense.

Since now the inset is working (look at the green box with inset-after set to `70`), I'm not releasing a fix f

[2019-09-29 11:42] Fondesa commented on #29
Here we go: https://github.com/Fondesa/RecyclerViewDivider/pull/30

[2019-10-04 22:10] #28 closed

[2019-10-04 22:42] Fondesa commented on #29
Released in **3.0.1**.

[2019-10-04 22:42] #29 closed

[2019-10-22 06:50] kjsolo opened #35 "Can support divider on both sides of the group?"
[code]

[2019-10-22 07:33] Fondesa commented on #35
Can you explain what you are meaning with "can support divider on both sides of the group" ? Consider a vertical list with span count 1, the divider is added below each row.  Adding it below means the divider will be between the items.
It isn't added both below and above because they would look joined.

[2019-10-23 06:20] kjsolo commented on #35
You're right, this is another function like this.
https://github.com/TheKhaeng/recycler-view-margin-decoration
But I want to process margin according to group type

[2019-10-23 08:04] AcgnCodeMonkey opened #36 "StaggeredGridLayoutManager"
![QQ截图20191023160222](https://user-images.githubusercontent.com/19161307/67371200-938b3800-f5ae-11e9-8151-cca6515ccf05.png)
Horizontal and Vertical space size is not euqal.
 RecyclerViewDivider.with(rv.getContext())
                .insetManager(new DefaultInsetManager())
                .hideLastDivider()
                .size(size)
                .color(ResUtils.getColor(color))

[2019-10-23 08:07] AcgnCodeMonkey commented on #36
![QQ截图20191023160611](https://user-images.githubusercontent.com/19161307/67371497-0e545300-f5af-11e9-9723-f8ed93dfdce7.png)
left and right space also not equal.

[2019-10-23 08:09] AcgnCodeMonkey commented on #36
but if i use  GridLayoutManager,those questions is ok.

[2019-10-23 08:27] Fondesa commented on #36
Interesting. Guess I found the problem calculating the group count of a `StaggeredGridLayoutManager`. Is your project open source so I can directly test my changes there? Otherwise I'll try to reproduce your layout

[2019-10-23 08:48] Fondesa commented on #35
You can already process the margin using `InsetManager` in which you have the possibility to customize your margin based on the group count or the group index.

[2019-10-23 08:56] AcgnCodeMonkey commented on #36
sorry,my project is enterprise project，i think you can write a simple demo to test this bug

[2019-10-23 08:57] Fondesa commented on #36
Ok no problem, I'll keep you up-to-date

[2019-10-23 09:11] AcgnCodeMonkey commented on #36
https://blog.csdn.net/qq_33373648/article/details/77584995
you can consult this blog.

[2019-10-23 11:05] Fondesa commented on #36
This PR should fix it: https://github.com/Fondesa/RecyclerViewDivider/pull/37

[2019-10-23 12:16] Fondesa commented on #36
Update to **3.0.2** and feel free to reopen the issue if it's not solved for you yet.

[2019-10-24 08:04] AcgnCodeMonkey commented on #36
![QQ截图20191024160247](https://user-images.githubusercontent.com/19161307/67465467-d238f500-f677-11e9-8490-71b7cdcd7f14.png)
![QQ截图20191024160319](https://user-images.githubusercontent.com/19161307/67465468-d2d18b80-f677-11e9-80da-896a436416d9.png)
first page is normal,but second page is wrong

[2019-10-24 08:05] AcgnCodeMonkey commented on #36
@Fondesa
this is a demo.
[Demo.zip](https://github.com/Fondesa/RecyclerViewDivider/files/3766350/Demo.zip)

[2019-10-24 08:06] AcgnCodeMonkey commented on #36
![QQ截图20191024160319](https://user-images.githubusercontent.com/19161307/67465673-2cd25100-f678-11e9-9854-8979b00696bc.png)

[2019-10-24 08:15] Fondesa commented on #36
Ok thanks, I'll look into it

[2019-10-26 00:37] Fondesa commented on #36
@AcgnCodeMonkey I found the problem.
It's related to the internal usage of `parent.getChildAdapterPosition(child)` which, with `StaggeredGridLayoutManager`, doesn't match the position in which the item is rendered.

This will be harder than I thought to fix it since the "entire" library is based on the item's position.
Probably a solution would be to limit the position-dependent features of this l

[2019-10-26 21:26] Fondesa commented on #35
Reopen it if you feel it's not closed.

[2019-10-26 21:26] #35 closed

[2019-10-28 07:36] AcgnCodeMonkey commented on #36
because my kotlin is careless，i try do it.

//        val lineAccumulatedSpan = lm.getAccumulatedSpanInLine(spanSize, itemPosition, groupIndex)
        var lineAccumulatedSpan = 0
        if (parent.layoutManager is StaggeredGridLayoutManager) {
            val params = view.layoutParams as StaggeredGridLayoutManager.LayoutParams
            lineAccumulatedSpan = params.spanIndex % spanCount + 1

[2019-10-28 07:37] AcgnCodeMonkey commented on #36
@Fondesa

[2019-10-28 15:51] Fondesa commented on #36
@AcgnCodeMonkey Yes but this is not the problem. Your code works only if there's a basic configuration of the divider (e.g. all the dividers have the same size).
If the dividers have different configurations (e.g. they change the size based on `groupIndex`), the layout manager will render a wrong grid since the `groupIndex` isn't calculated right.

[2019-11-01 10:53] Fondesa commented on #36
@AcgnCodeMonkey I've probably found a good solution for it. I'm working on it.

[2019-11-01 14:58] Fondesa commented on #36
Here we go: https://github.com/Fondesa/RecyclerViewDivider/pull/39

The problem was related to the item position.
Since `StaggeredGridLayoutManager` can change the position of the items without change their adapter positions, I had to add a partial support to it cause all the managers were currently based on `groupIndex` and `groupCount`. Now I added a list of managers not dependent to those two v

[2019-11-01 15:31] Fondesa commented on #36
@AcgnCodeMonkey **3.1.0** out. Can you confirm it works?

[2019-11-05 06:16] AcgnCodeMonkey commented on #36
good,it is ok. @Fondesa

[2019-11-05 06:16] #36 closed

[2019-11-09 17:51] AndroidDeveloperLB opened #41 "Request: use the default divider of the OS"
Currently we have to do it on our own, otherwise we get a very white one.

Example of such workaround:

        obtainStyledAttributes(intArrayOf(android.R.attr.listDivider)).use { typedArray ->
            typedArray.getDrawable(0)?.let { RecyclerViewDivider.with(this).drawable(it).build().addTo(recyclerView) }
        }

[2019-11-09 18:01] Fondesa commented on #41
It can be a good idea to use the OS default for the divider color but it will introduce a breaking change so currently I'll keep this open.
BTW, you can change ALL the `RecyclerViewDivider` in your app in once using `RecyclerViewDivider.BuilderProvider` ([wiki reference](https://github.com/Fondesa/RecyclerViewDivider/wiki/Usage#centralized)).

E.g.
[code]

In this way, by default all the `Recycler

[2019-11-09 18:04] fondesa opened #42 "Update WIKI to Kotlin"

[2019-11-09 18:18] AndroidDeveloperLB commented on #41
Wait, how does your library know where to look for the class that implements this interface?

[2019-11-09 18:20] Fondesa commented on #41
It should be the `Application`. The library checks if the `Application` implements `RecyclerViewDivider.Builder` using `context.applicationContext` every time you invoke `RecyclerViewDivider.with(context)`.

[2019-11-09 18:33] AndroidDeveloperLB commented on #41
Why every time? It's already initialized...
Or does it assume it might change on some cases, like changing themes?
Why do you think it's a breaking change?
Set the drawable to be the default one, and if it doesn't exist for some reason, set one that was used so far.
The current one is very white...

Speaking of colors, isn't it actually better to set it in the themes instead of in the class that e

[2019-11-09 18:37] Fondesa commented on #41
Or does it assume it might change on some cases, like changing themes?

Exactly for this, cause the themes can change.

Because some of the users of the library could use the default color instead and when they upgrade, the color will change.

In the old versions of this library, it worked like this, but there was a problem: it couldn't be flexible.
The users couldn't provide a default using for e

[2019-11-09 18:48] AndroidDeveloperLB commented on #41
About breaking I see.
But I don't get about the themes. What's the difference? Just provide both ways (themes and programmatically), just like on many things on Android.
How is it related to VisibilityManager ?

[2019-11-09 18:53] Fondesa commented on #41
I meant that in the attributes you can't insert any logic inside it like "show all the dividers in a list except the last one" or "every two divider, change the color".
But thinking about themes, what I can do is provide some default attributes as you said which can be overridden by the `RecyclerView.BuilderProvider` which can be overridden by the in-place configuration.

[2019-11-09 19:12] AndroidDeveloperLB commented on #41
Well you can put the basic ones, and if in code it's different, the code overrides how it works, just like on other cases on Android.

[2019-11-09 19:18] AndroidDeveloperLB commented on #41
BTW, I think what you mean in the application class should be as such:
[code]

[2019-11-09 19:22] Fondesa commented on #41
Yes, before I wrote it quickly, your version should achieve what you want until the behavior we discussed above will be implemented inside this library.

[2019-11-09 19:26] AndroidDeveloperLB commented on #41
OK.
May I suggest a bit more for next version?

If indeed it could break older code, you should change the API calls so that it won't be able to be built for people who upgrade without them needing to check why it occurs and what should be done to fix it via the repository website FAQ.

Also, I suggest adding nullability annotation everywhere that's possible. It helps with handling possible bugs

[2019-11-09 19:31] Fondesa commented on #41
Sure, I appreciate it.

Yes, I can implement it like so.

I have not understood this one. The library is totally written in Kotlin, therefore you have the nullability is explicit. If you use this library in Java, it automatically adds the annotation `@NotNull` when it shouldn't be null. What did you mean?

[2019-11-09 19:32] AndroidDeveloperLB commented on #41
Oh never mind about the nullability part. I think it was my mistake about something there...

[2019-11-09 19:35] Fondesa commented on #41
Oh ok, no problem. BTW currently you can use the version you posted above. I'll update this issue when I'll release the new library with these new features.

[2019-11-09 19:40] AndroidDeveloperLB commented on #41
I think the application method doesn't always work well for me for some reason (shows a very dark divider that I can barely even notice), but only in dark theme ( a theme that extends from `Theme.MaterialComponents`).

There is a difference between using the application method and the one that I wrote in the beginning. The one I wrote in the beginning works in both cases, showing the divider.

Not

[2019-11-09 19:41] AndroidDeveloperLB commented on #41
Oh, it occurs even if I don't set the theme at runtime.

[2019-11-09 19:44] AndroidDeveloperLB commented on #41
I think I will just create an extension function `addDefaultDivider` . That's the reason I use this library, actually, because all the others had some issues.

[2019-11-09 19:49] Fondesa commented on #41
Mmh this is very strange since the method `provideDividerBuilder(Context)` will be invoked every time you invoke `RecyclerViewDivider.with(Context)` using the same `Context` of your in-place call (e.g. your `Activity`).

This is the implementation of `RecyclerViewDivider.with(Context)`:
[code]

So honestly I can't understand what's wrong since if you change the code:
[code]

to:
[code]

After the

[2019-11-09 20:10] AndroidDeveloperLB commented on #41
I don't know. Would you like me to try to create a POC ?

[2019-11-09 20:10] Fondesa commented on #41
If that's not a problem for you, yes, it would be helpful to reproduce it.

[2019-11-09 20:28] AndroidDeveloperLB opened #43 "Bug: using default divider style in class that extends Application doesn't work well for dark theme"
Attached sample project and video to show the issue.

The video shows before and after using the Application class.

For now, the only workaround is to do it manually, or maybe use something like this nice extension function:
[code]
[My Application.zip](https://github.com/Fondesa/RecyclerViewDivider/files/3827710/My.Application.zip)
[2019-11-09_22-25-44.zip](https://github.com/Fondesa/RecyclerView

[2019-11-09 20:28] AndroidDeveloperLB commented on #41
OK here:

https://github.com/Fondesa/RecyclerViewDivider/issues/43

[2019-11-09 20:31] Fondesa commented on #41
Ok thanks very much, for this bug we'll continue in the related issue #43

[2019-11-09 20:38] AndroidDeveloperLB commented on #43
I actually think the default one should hide the last divider. Weird that the library didn't set it as such.

[2019-11-09 20:40] Fondesa commented on #43
Found the problem. It's related to the implementation of the method `obtainStyledAttributes()` which access `getTheme()`. The implementation of `getTheme()` is different between `Application` and `Activity`. That's why it wasn't working.
You can change the implementation of `provideDividerBuilder()` from this:
[code]

To this:
[code]

[2019-11-09 20:42] Fondesa commented on #43
And BTW yes, I think the `hideLastDivider()` could become the default visibility. I didn't make it as default only following the theory "the default is most basic implementation", but I should have reasoned with "the default is the most common usage".

[2019-11-09 20:44] fondesa opened #44 "Make hideLastDivider() the default visibility"

[2019-11-09 20:45] fondesa opened #45 "Use android.R.attr.listDivider as the default Drawable"
Related to #41

[2019-11-09 20:46] fondesa opened #46 "Use custom theme attributes to configure the library"
The interface `RecyclerViewDivider.BuilderProvider` should override the theme configuration and be used for dynamic configs.

[2019-11-09 20:49] AndroidDeveloperLB commented on #43
Why would the default be the basic implementation?
Also, you said I can call the default theming on the application class. Not on the Activity.
Now it's even more important to ditch the option to put it on the application class, and use more commonly used ways, like for Views.

There was actually a talk about Context by Google developers, when ApplicationContext isn't the good choice and that you

[2019-11-09 21:04] Fondesa commented on #43
Cause I did this library 3 years ago and I thought it was a good choice, now I can see it's a mistake.

I said the library checks if the `Application` implements `RecyclerViewDivider.BuilderProvider` to pick the default configuration and I also said the `Context` passed in the method is the same of the in-place call of `RecyclerViewDivider.with(Context)`, so in your case, the `Activity`.
If that w

[2019-11-09 21:24] AndroidDeveloperLB commented on #43
I don't understand. You can provide both. If the user doesn't set a drawable, the default one is what you can have from the system.
After all, you already chose a default one...

Anyway, please just think about it. I think you can reach something like what Android provides for Views, attributes, and styles, while also allowing to customize at runtime.

[2019-11-09 21:26] Fondesa commented on #43
With:

I meant to say that I'll use both, but that I can't remove the `RecyclerViewDivider.BuilderProvider`.

[2019-11-09 21:41] AndroidDeveloperLB commented on #43
So you want to support 3 things that can override...
I think you are going too far. Could complicate things...

[2019-11-09 21:42] Fondesa commented on #43
I have to think a bit if that's too far or not. BTW the theme attributes will be added anyway.

[2019-11-09 21:45] AndroidDeveloperLB commented on #43
OK. I guess you are right. Sorry.

[2019-11-09 21:48] Fondesa commented on #43
No problem at all, your help is appreciated and the ideas we discussed about in the two issues are added to the milestone 4.x.
So thanks again, if anything else comes to your mind, don't hesitate to comment or open other issues.

[2019-11-09 21:50] Fondesa commented on #43
BTW I'm closing this issue since it can be solved using `context.obtainStyledAttributes()`. Check the milestone [4.x](https://github.com/Fondesa/RecyclerViewDivider/milestone/2) for what we've discussed about.

[2019-11-09 21:50] #43 closed

[2019-11-09 21:52] Fondesa commented on #41
Please refer to the issue https://github.com/Fondesa/RecyclerViewDivider/issues/45 from now on.

[2019-11-09 21:52] #41 closed

[2019-11-10 09:22] AndroidDeveloperLB commented on #43
I don't understand what you mean.
Please consider using default style for dividers.

[2019-11-10 09:46] Fondesa commented on #43
I meant only to move this conversation to the related issues: #45 and #46
I'll implement all of this, just move the conversation on those issues since I'll refer to them for the milestone.

[2019-11-10 09:49] AndroidDeveloperLB commented on #43
Oh ok.

[2020-02-03 09:11] kjsolo opened #47 "[Suggestion] Each item's divider has same size"
Make each item's divider has same size, this is good for use **ConstraintLayout's layout_constraintDimensionRatio**. Otherwise, the height of each item is inconsistent
such as:
[code]
[code]
sample:
column: 3,
divider size: 26px
your code: [0-13] [13-13] [13-0]
my code: [0-18] [8-9] [17-0]

[2020-02-29 00:27] Fondesa commented on #47
I'm sorry but I've not understood the suggestion. Can you explain it clearer please?

[2020-03-10 21:50] Fondesa opened #51 "Remove useless dependencies repositories"

[2020-03-10 22:06] Fondesa opened #53 "Add PR and issue template"

[2020-03-11 00:15] #53 closed

[2020-03-13 21:59] #51 closed

[2020-03-20 10:14] JustinChiang123 opened #62 "hideFirstDivider(); changeDividerColor(int postion,int color);"
### Description

Hide the first line-->hideFirstDivider();
Change the color of the line-->changeDividerColor(int postion,int color);

### Motivation

[2020-03-20 12:09] fondesa commented on #62
You can already achieve that result using `VisibilityManager` and `DrawableManager`:
[code]

[2020-03-21 23:20] fondesa commented on #62
If you have other doubts, don't hesitate to re-open the issue.

[2020-03-21 23:20] #62 closed

[2020-03-21 23:22] fondesa commented on #47
Since some time passed, I'm closing it until you won't provide any additional information. Feel free to re-open it in case.

[2020-03-21 23:22] #47 closed

[2020-03-21 23:27] #42 closed

[2020-03-28 17:48] TikTak123 opened #68 "add divider to top of first item in LinearLayoutManager"
Add please divider to top of first item in LinearLayoutManager like in this gist
https://gist.github.com/lapastillaroja/858caf1a82791b6c1a36

One of my project has design where I need this feature. Maybe this is usefull for other also.

[2020-03-28 19:40] fondesa commented on #68
Since there are other users who asked this, even if I don't agree completely to add this feature inside the library (the top divider can be represented as an external view since it doesn't "divide" anything), I'll add it anyway.
It will be implemented in the version [4.x](https://github.com/fondesa/recycler-view-divider/milestone/2) .

[2020-03-28 19:43] fondesa commented on #22
@Airsaid Since other users asked it, I'll add this feature in the milestone [4.x](https://github.com/fondesa/recycler-view-divider/milestone/2).
The updates will be done on the issue #68.

[2020-03-28 19:44] fondesa commented on #21
@stormlei  Since other users asked it, I'll add this feature in the milestone [4.x](https://github.com/fondesa/recycler-view-divider/milestone/2).
The updates will be done on the issue #68.

[2020-03-29 10:15] TikTak123 opened #69 "Sometimes extra space available at the top of view item"
### Description

Sometimes extra space available at the top of view item. I have RecyclerView inside RecyclerView. It reproduces in the inner RecyclerView.

-----------

**RecyclerViewDivider version**:

implementation 'com.github.fondesa:recycler-view-divider:3.1.0'

**API level**:

API level of my emulator 27

**How to reproduce it**:

I don't know how to reproduce. But the last time I compiled

[2020-03-29 10:17] TikTak123 commented on #69
I used this code also and this reproduced with this code also
https://gist.github.com/lapastillaroja/858caf1a82791b6c1a36

[2020-03-29 11:40] fondesa commented on #69
You are attaching a new divider everytime `bind` is invoked without ever removing it.

I recommend you one of the following possibilities:
- attach the divider when the view holder is created, not when it's bound
- create the divider when the view holder is created and use `addTo()` when it's bound (`addTo()` automatically removes it from the `RecyclerView`)
- remove the divider before attaching a

[2020-03-29 11:51] #69 closed

[2020-04-17 06:00] AcgnCodeMonkey opened #79 "GridLayoutManager/StaggeredGridLayoutManager item width not equal"
### Description

if i use GridLayoutManager,the item width was not equal
-----------

**RecyclerViewDivider version**:

v3.1.0
**API level**:

**How to reproduce it**:

**Sample code**:

RecyclerViewDivider.with(rv.getContext())
                .insetManager(new DefaultInsetManager())
                .hideLastDivider()
                .size(size)
                .color(ResUtils.getColor(color))

[2020-04-17 07:30] fondesa commented on #79
I'm already aware of this bug.
It happens when you use a `GridLayoutManager` with more than two columns and a divider size bigger than `2dp`.

The problem here is the limitation of the Android API which computes the offset only of the current item `ItemDecoration.getItemOffsets` instead of the offsets of all the visible items.

The fix is not easy and it won't cover some cases (e.g. balancing an i

[2020-05-02 16:56] fondesa commented on #79
@AcgnCodeMonkey I've found a way to do it but it requires a huge amount of work to support it. So I'm going to work on the **4.x** release without this feature and then I'll try to add this feature after. I still don't know if I can manage to develop this feature alone since it requires to auto-balance dinamically all the offsets.

[2020-05-02 16:58] fondesa opened #82 "Add auto-balance for offsets in GridLayoutManager"
### Description

Add a feature enabled by default which can be disabled programmatically (e.g. `.disableAutoBalance()` which auto-balances all the offsets in a `GridLayoutManager`.

### Motivation

If a `GridLayoutManager` has 3 spans or more and a big divider, the item width aren't equal.

[2020-05-02 16:59] fondesa commented on #79
Linked issue: #82

[2020-05-18 19:41] AlexandreGorobets opened #97 "Add .colorRes, .drawableRes methods"
Hello!
Builder for RecyclerViewDivider have context, so you can add method that can make code more clean

` RecyclerViewDivider.with(context).color(ContextCompat.getColor(context, R.color.divider)).build()`

will be:

` RecyclerViewDivider.with(context).colorRes(R.color.divider).build()`

[2020-05-18 19:45] fondesa commented on #97
Hi, nice idea. I was releasing the version **3.2.0** in this exact moment. I stopped the release so I can add this API.

Be ready because from **3.2.0** on, the `RecyclerViewDivider` API will be deprecated in favour of the new `DividerBuilder` API.

[2020-05-18 20:15] fondesa commented on #97
@AlexandreGorobets Here we go: https://github.com/fondesa/recycler-view-divider/pull/98

[2020-05-18 20:44] fondesa opened #99 "Maybe introduce a caching mechanism on DividerItemDecoration"
It would be nice to find a reliable way to cache the `Grid` and the `Divider` instances used in  `DividerItemDecoration.getItemOffsets()` and `DividerItemDecoration.onDraw()`.

In case, add a method on `DividerBuilder` to toggle this feature.
Should it be enabled or disabled by default?

[2020-05-18 20:48] fondesa opened #100 "Add API to show the top and the bottom divider in a StaggeredGridLayoutManager"
What's the Android API to detect if the item of a `StaggeredGridLayoutManager` is shown in the first position or not?
Consider also the span count and the full span items.
**E.g.**
- item 0: not full span
- item 1: full span
- item 2: not full span

[2020-05-18 20:50] fondesa opened #101 "Use fun interface for providers API since Kotlin 1.4"
Are they compatible with Kotlin without breaking the usages of the current APIs?
Are they compatible with Java without breaking the usages of the current APIs?

[2020-05-18 20:56] fondesa opened #102 "Add API to compare drawables in tests"
Support at least `GradientDrawable` and `ColorDrawable`.

[2020-05-18 21:48] fondesa commented on #97
Just released the version [3.2.0](https://github.com/fondesa/recycler-view-divider/releases/tag/3.2.0) which contains `colorRes` and `drawableRes`.

**e.g.** (kotlin)

[code]

[2020-05-18 21:48] #97 closed

[2020-05-18 21:51] fondesa commented on #68
Just released the version [3.2.0](https://github.com/fondesa/recycler-view-divider/releases/tag/3.2.0) which contains `showFirstDivider` to show the top divider.

**e.g.** (kotlin)

[code]

[2020-05-18 21:51] #68 closed

[2020-05-18 21:51] fondesa commented on #22
Just released the version [3.2.0](https://github.com/fondesa/recycler-view-divider/releases/tag/3.2.0) which contains `showFirstDivider` to show the top divider.

**e.g.** (kotlin)

[code]

[2020-05-18 21:51] fondesa commented on #21
Just released the version [3.2.0](https://github.com/fondesa/recycler-view-divider/releases/tag/3.2.0) which contains `showFirstDivider` to show the top divider.

**e.g.** (kotlin)

[code]

[2020-05-18 21:53] fondesa commented on #41
Just released the version [3.2.0](https://github.com/fondesa/recycler-view-divider/releases/tag/3.2.0) which uses `android:listDivider` by default to get the divider's `Drawable`.

[2020-05-18 21:53] fondesa commented on #45
Just released the version [3.2.0](https://github.com/fondesa/recycler-view-divider/releases/tag/3.2.0) which uses `android:listDivider` by default to get the divider's `Drawable`.

[2020-05-18 21:53] fondesa commented on #43
Just released the version [3.2.0](https://github.com/fondesa/recycler-view-divider/releases/tag/3.2.0) which uses `android:listDivider` by default to get the divider's `Drawable` and other theme attributes ([wiki](https://github.com/fondesa/recycler-view-divider/wiki/usage).

[2020-05-18 21:54] fondesa commented on #43
It also hides the last divider by default.

[2020-05-18 21:55] fondesa commented on #46
Just released the version [3.2.0](https://github.com/fondesa/recycler-view-divider/releases/tag/3.2.0) which uses `android:listDivider` by default to get the divider's `Drawable` and other theme attributes ([wiki](https://github.com/fondesa/recycler-view-divider/wiki/usage)).

[2020-05-18 21:55] #46 closed

[2020-05-18 21:55] fondesa commented on #44
Just released the version [3.2.0](https://github.com/fondesa/recycler-view-divider/releases/tag/3.2.0) which makes the last divider hidden by default.

[2020-05-18 21:55] #44 closed

[2020-05-18 22:21] AndroidDeveloperLB commented on #43
And in code, like this:

[code]

Meaning no need for this:

[code]
?

[2020-05-18 22:23] AndroidDeveloperLB commented on #45
And in code, like this:

[code]

Meaning no need for this:

[code]
?

[2020-05-18 22:30] fondesa commented on #45
The `RecyclerViewDivider` API is deprecated in favour of the new `DividerBuilder` API.

You can replace this whole function:
[code]

Because:
- now the default divider reads the value of `android.R.attr.listDivider`
- now the default divider hides the last divider by default

[2020-05-19 17:56] AndroidDeveloperLB commented on #45
Seems not working for me on dark theme for some reason, while working fine on normal theme.

Can you test, or should I try on POC ?

[2020-05-19 18:07] fondesa commented on #45
I'll try it soon, thanks!

[2020-05-19 18:26] AndroidDeveloperLB commented on #45
Please let me know about it.

[2020-05-19 19:08] fondesa commented on #45
@AndroidDeveloperLB I reproduced it and I found the line of code which cause it.
It's the following one:
[code]
This line is necessary to reset the tint of the single divider to avoid the tint color to propagate to the other dividers.

Now I have to understand why it changes the `Drawable` on night theme.

[2020-05-19 19:25] fondesa commented on #45
It's very similar to this issue on Android: https://issuetracker.google.com/issues/141678225
The problem is that the default divider color on API > 21 is `#ffdadce0` on light theme and `#85ffffff` on dark theme.

The problem is tinting a `GradientDrawable` with a color which isn't fully opaque, that's why it fails only on dark theme.

I'll replace the call to `setTintList` with a `ColorFilter` if

[2020-05-19 21:11] AndroidDeveloperLB commented on #45
OK for now I will use the previous method. It still works fine.

[2020-05-20 10:40] AndroidDeveloperLB commented on #45
Is there a shorter workaround than using what I wrote, BTW?

[2020-05-20 11:03] fondesa commented on #45
You can probably change the value of `android:listDivider` to a plain color with those values that I wrote above (the one in the Android material version). But I'll release a fix pretty soon so I don't think it's worth

[2020-05-20 11:08] AndroidDeveloperLB commented on #45
I need in code. Anyway, please let me know when you fix this.

[2020-05-20 11:09] fondesa commented on #45
Yes, I'll notify you for any update

[2020-05-20 11:27] AndroidDeveloperLB commented on #45
Thank you. If you with, [this](https://play.google.com/store/apps/details?id=com.lb.app_manager) is my app that uses this repository.

[2020-05-20 18:01] fondesa commented on #45
@AndroidDeveloperLB Released the version **3.2.1** containing the fix. Can you let me know if `addDivider()` works for you now?

[2020-05-20 19:50] AndroidDeveloperLB commented on #45
I think now it's indeed fixed and working well.
Thank you.

BTW, why add extension function?
This isn't something that's common for libraries. Usually it's reserved for the main project itself, not for libraries, unless it's a very core function (kotlin basic classes, for example).

[2020-05-20 20:00] fondesa commented on #45
Nice, to hear.

I added the extension function to create a divider using the shortest syntax and made it more accessible for Kotlin users of this library since creating the divider is the core API of this library (other APIs like `RecyclerViewDividerLog` which aren't related to the core one, are still expressed without extension functions). I did it also following bigger repositories written in Ko

[2020-05-20 20:00] #45 closed

[2020-05-20 20:06] AndroidDeveloperLB commented on #45
OK your choice. Are there more extension functions on the library now?

[2020-05-20 20:09] fondesa commented on #45
Since the version **3.2.0** (the one with new APIs) there are these 4 extensions, all 4 on `RecyclerView`:
- `addDivider()`
- `dividerBuilder()`
- `addStaggeredDivider()`
- `staggeredDividerBuilder()`

[2020-05-20 20:21] AndroidDeveloperLB commented on #45
ok thanks.

[2020-05-20 22:28] #102 closed

[2020-05-21 08:40] LLQQHH commented on #100
we can not count when is on bottom  if we use StaggeredGridLayoutManager ,you can try try

[2020-05-21 09:00] LLQQHH opened #106 "StaggeredDividerItemDecoration bug"
6item is big than 5item,
for example: if i set space 10
5item offsetleft+offsetRight=10+5=15
6item offsetleft+offsetRight=5+5=10
so 6item is big than 5item
![微信截图_20200521165646](https://user-images.githubusercontent.com/19651932/82542237-3c6d3600-9b84-11ea-8c74-8f6f2a83c93d.png)
![TIM截图20200521165547](https://user-images.githubusercontent.com/19651932/82542256-42631700-9b84-11ea-8906-12fa4d835044

[2020-05-21 09:03] fondesa commented on #106
It's already opened this bug by another user: https://github.com/fondesa/recycler-view-divider/issues/79

[2020-05-21 09:03] #106 closed

[2020-05-21 09:04] fondesa commented on #106
We can discuss about it in the already opened issue: https://github.com/fondesa/recycler-view-divider/issues/79

[2020-05-21 09:11] fondesa commented on #79
Similar issue: https://github.com/fondesa/recycler-view-divider/issues/106

[2020-05-31 16:31] fondesa commented on #79
Fixed in the version **3.3.0** (only using the new API, not the legacy one).

[2020-05-31 16:31] #79 closed

[2020-05-31 16:31] fondesa commented on #106
Fixed in the version **3.3.0** (only using the new API, not the legacy one).

[2020-05-31 18:31] fondesa commented on #99
It's not worth it for the following motivations:
- it would make the internal implementation more complex
- there aren't performance issues ATM

[2020-05-31 18:31] #99 closed

[2020-06-02 08:14] fondesa opened #114 "Animate divider"

[2020-06-05 03:45] kjsolo opened #115 "Expose 'absoluteCellIndex'?"
Sometime I need to know index of the cell

[2020-06-05 07:30] fondesa commented on #115
With the new API, you shouldn't need it since with `originX` and `originY` inside `Divider` you could obtain every desired result.
Which type of logic do you have to implement?

[2020-06-05 08:37] kjsolo commented on #115
How can I achieve this complex effect
![Lark20200605-161531](https://user-images.githubusercontent.com/590893/83855355-86404980-a74a-11ea-9c39-f3bbd35fdd84.jpeg)
[code]
1 is A Type
2, 3, 4, 5 is B Type

[2020-06-05 08:47] fondesa commented on #115
You can obtain the absolute index using `originX` and `originY` since you have the cell's span size and the grid's span count, but this would be a probably useless task.

What do you need to do in that layout? Do you want to make the vertical dividers red? Do you want to make the last divider blue? I mean, if you tell me the logic you want to implement, I'm pretty sure you can implement it without

[2020-06-05 08:57] kjsolo commented on #115
What should I do about this situation
<img width="563" alt="WX20200605-165308@2x" src="https://user-images.githubusercontent.com/590893/83857427-8f7ee580-a74d-11ea-906e-1e941346a8f5.png">

[2020-06-05 09:11] fondesa commented on #115
@kjsolo You can achieve that effect with the following lines, obviously with some adaptations, like converting the size in `dp`.

[code]

[2020-06-05 09:21] kjsolo commented on #115
I can use divider.originX == 0, because item position is dynamic. It may be another:

<img width="585" alt="WX20200605-172119@2x" src="https://user-images.githubusercontent.com/590893/83859796-ffdb3600-a750-11ea-95da-38a206a5d3ea.png">

[2020-06-05 10:07] fondesa commented on #115
The `absoluteCellIndex` can't be exposed because with the new API, the dividers changed the way they behave and the same divider can be owned by two different items, unlike the previous version. We can try to find a specific solution for your problem though without changing the library. Can you post here the part of your code in which you decide if the view type is A, B or C?

[2020-06-09 03:38] kjsolo opened #118 "GridLayoutManager item height not equal"
### Description

- Side divider size is 16dp
- Middle divider size is 10dp

Middle item height different from others

<img width="746" alt="WX20200609-113413@2x" src="https://user-images.githubusercontent.com/590893/84103362-6314e300-aa45-11ea-83e9-49c05cef3c70.png">

-----------

**RecyclerViewDivider version**:
3.3.0

[2020-06-09 07:14] fondesa commented on #118
This library doesn't do anything on item's height but the offset could change only the item's width. Maybe the middle item has a different width from the others and the height you are using is based on the width?

[2020-06-09 08:34] kjsolo commented on #118
This is my solution

[code]

<img width="505" alt="WX20200609-162644@2x" src="https://user-images.githubusercontent.com/590893/84124593-05e15780-aa6e-11ea-889b-f35dbf7f7ae9.png">

[2020-06-09 08:34] #118 closed

[2020-06-09 08:39] fondesa commented on #118
Perfect, you are probably the first one using the new `DividerOffsetProvider` API 🥇

[2020-06-09 09:07] kjsolo commented on #118
You can consider passing `sideDividerSize` as a argument to the `OffsetProvider`, Make the library easier :)

[2020-06-09 09:15] kjsolo commented on #115
Without absoluteCellIndex, I can only get this value in this way:

[code]

And here the code that's why I need it:

[code]

[2020-06-09 09:24] fondesa commented on #115
How can you access the line index and the cell index?
Because, if you are using `originX` and `originY`, they can match the line/cell before or the line/cell after depending on when they are invoked.

(BTW, you can cache the computation of `Grid.itemIndex()` to make it way faster)

[2020-06-10 02:22] kjsolo commented on #115
line/cell has a relationship with origin

[code]

[2020-06-10 02:22] #115 closed

[2020-06-10 08:51] fondesa commented on #115
Those lines are referred to `accumulatedSpan` which is `internal` and can't be exposed because it relies on a specific usage which subtract 1 if the divider is before the item (look at `DividerOffsetProviderImpl`). This is the problem I was talking about before. You can't access the side on which the divider is going to show so you can't know if the divider is before or after the item.

[2020-09-09 07:55] fondesa opened #126 "Run tests on Android Q"
Robolectric since 4.4 supports Q

[2020-09-11 18:41] fondesa opened #127 "Update Android 11"

[2020-09-11 20:53] #127 closed

[2020-09-12 11:39] fondesa commented on #126
Since it requires JDK 9, I'm closing this.

[2020-09-12 11:39] #126 closed

[2020-09-21 06:16] kjsolo opened #130 ""GridLayoutManager.multipleSpanGrid" It takes too much time with a large data set"
[code]

[2020-09-21 08:04] kjsolo commented on #130
I found ways to improve, but there's still a little bit of stuck.

Cache the span size:

[code]

[2020-09-22 09:03] aolaca opened #131 "visibilityProvider is not working fine with GridLayoutMananger"
### Description
With multiple  columns,the cell in  middle column is bigger than the sidles.
-----------

**RecyclerViewDivider version**:
version:`3.3.0`
**API level**:

[code]
**How to reproduce it**:

- Use `GridLayoutManager`   with VERTICAL

- `spanCount` is 3
-  add the divider as the follwing sample code

as the uppper steps ,it will reporduce.
remove `visibilityProvider` method,it works fi

[2020-09-22 09:16] fondesa commented on #131
It's the wanted behavior, I'm quoting the documentation of `DividerBuilder.visibilityProvider`:

If you want a different behavior, you can specify a custom [DividerOffsetProvider] with [offsetProvider].

The auto sizing of the cells with a `GridLayoutManager` is not supported with `VisibilityProvider` and `SizeProvider`, you have two choices:
- use the non-provider API e.g. `size()`, `showFirstDiv

[2020-09-23 01:38] aolaca commented on #131
@fondesa
Thanks your comment.

In my project , the complex divide is required,so I  have to use the `size ` and `visiblity` provider.
I will try to use `DividerOffsetProvider ` to handing  the sizing of each cell.

BYW,The divider library, it is very helpful,thank you a lot.

[2020-09-23 07:17] fondesa commented on #131
You are welcome.
If you need further information, feel free to reopen the issue.

[2020-09-23 07:17] #131 closed

[2020-11-19 12:30] caiyoufei opened #132 "Grag Item,the space will bigger and bigger"
![GIF](https://user-images.githubusercontent.com/11989916/99666520-afa52580-2a9d-11eb-96bc-00c64267ce21.gif)

[2020-11-19 12:33] caiyoufei commented on #132
when i use GridLayoutManager,count is 3
the second item,height more than first and third

[2020-11-20 22:24] fondesa commented on #132
Hi, thanks for submitting this issue.
Can you provide a sample of the bug so I can investigate it further?

[2020-11-21 03:07] caiyoufei commented on #132
Use normal RecyclerView:
Adapter：MultiType
https://github.com/LidongWen/MultiTypeAdapter/blob/master/app/src/main/java/com/wenld/app_multitypeadapter/itemTouch/ItemTouchMoveListener.java
Drag:
https://github.com/LidongWen/MultiTypeAdapter/blob/master/app/src/main/java/com/wenld/app_multitypeadapter/itemTouch/ItemTouchMoveListener.java
https://github.com/LidongWen/MultiTypeAdapter/blob/master/app/s

[2020-11-21 03:08] caiyoufei commented on #132
You can try to add drag effect

[2020-11-23 03:22] #132 closed

[2020-12-20 15:59] fondesa opened #143 "Fix sourceSets deprecation in CoveragePlugin"

[2020-12-26 16:53] fondesa commented on #101
Done with https://github.com/fondesa/recycler-view-divider/pull/150

[2020-12-26 16:53] #101 closed

[2021-02-07 21:09] #143 closed

[2021-02-13 23:13] fondesa commented on #130
This will be included in the next release, now, the entire `Grid` is cached. My benchmarks showed a big performance improvement. The cache is invalidated automatically so from the next release, you will (hopefully) notice the performance improvements without changing anything. Thanks for the idea!

[2021-02-14 14:39] fondesa commented on #130
Released in the version `3.4.0`. Thanks again for the suggestion!

[2021-02-14 14:39] #130 closed

[2021-03-11 12:16] JeffZane opened #174 "Crash: The grid doesn't contain the item at position..."
### Description
After upgrading from v3.3.0 to v3.4.0, we received a lot about the following crashes
-----------

**RecyclerViewDivider version**:
v3.4.0

**API level**:
26,27,28,29,30

**Stack trace**:
[code]

[2021-03-11 12:21] fondesa commented on #174
Few questions:
- did you use the legacy API (`RecyclerViewDivider`) or the new one when you had the version **3.3.**?
- can you provide a very simple sample in which you can reproduce the bug? Otherwise, can you explain me how to reproduce it?

[2021-03-15 21:50] fondesa commented on #174
@JeffZane Are you perhaps using a custom `GridLayoutManager.SpanSizeLookup`? If so, can you post it here?

[2021-03-23 12:48] #114 closed

[2021-06-06 14:55] ueen opened #202 "Equal Spacing"
Hey, how would i go about equal spacing?

I need to use a recyclerview to use the drag/move ItemTouchHelper functionality, but i would like the items to be spaced out equally in the recyclerview (match_parent) - no scrolling?

Is there a setting or how would i do this?

[2021-06-06 15:12] ueen commented on #202
Ahh i got it! Maybe this is useful to somone else:

(its a horizontal recyclerview)
[code]

[2021-06-07 09:46] ueen commented on #202
Hey, would it be possible to add such a setting to the Builder, maybe like
`.asEqualSpacing() `

This would only apply if the recyclerview isnt scrollable and the items (contentSize) is below the recyclerview size (match_parent)

[2021-06-07 09:50] #202 closed

[2021-06-07 13:27] ueen commented on #202
Build a library thats using this for a simple Recyclerview based SortView
https://github.com/ueen/SortView/

[2021-06-15 02:16] sfyc23 opened #203 "How to set float size decoration?"
Sometimes the required decoration height is not an integer 。

Can the
[code]
be adjusted to
[code]

[2021-06-15 07:26] fondesa commented on #203
You can convert your floating-point height to an integer when you set the divider size.

Unfortunately, the divider size can't be a `float` because the Android's framework requires an `int` to render the divider and apply its offset so, at a certain point, this library should convert your integer to a float anyway.

In this case, it's better you do the conversion manually so it's explicit (and you

[2021-06-15 07:26] #203 closed

[2021-06-16 01:33] Back4fire opened #204 "The size of the divider is wrong after notifyItemRemoved()"
The size of the horizontal divider will get bigger and bigger when removing items in a RecyclerView with a GridLayoutManager repeatedly.

RecyclerViewDivider version: 3.5.0

A Test Project:
[MyApplication.zip](https://github.com/fondesa/recycler-view-divider/files/6659597/MyApplication.zip)

[2021-06-16 09:26] sfyc23 commented on #203
Thank you for your answer

[2021-07-25 02:59] git-maven opened #218 "How to use the SizeProvider"
i want to give the gridView an different spacing like Flutter that use mainAxisSpacing and crossAxisSpacing
i know i must use the SizeProvider, but i want to use the position to accumulate it, but it donnt provided

[2021-07-26 13:41] fondesa commented on #218
To do that, you have to use the properties of the instance of `Divider` passed to the `SizeProvider` method.

For example, in a vertical grid, you have to use `Divider.originY` for the dividers drawn horizontally and `Divider.originX` for the dividers drawn vertically.

Check the [documentation](https://github.com/fondesa/recycler-view-divider/blob/master/recycler-view-divider/src/main/kotlin/com/

[2021-07-26 13:41] #218 closed

[2021-07-26 13:44] fondesa commented on #204
Thanks for the sample. I'll investigate this.

[2021-09-01 04:57] huangShan-gitHub opened #223 "使用说明可以详细一些么"
使用说明可以详细一些么，目前提供的使用说明不是很详细。想要使用又看不到。有这么多人收藏肯定是一个好的框架，也很希望可以运用到它。

[2021-09-03 15:27] fondesa commented on #223
Can you translate it in English please?

[2021-12-17 22:07] fondesa commented on #223
Closing this since I can't understand the request.

[2021-12-17 22:07] #223 closed

[2021-12-18 15:17] fondesa commented on #204
I've not find a solution yet for this issue.

The issue is related to the item animator attached by default to a `RecyclerView`:
[code]

The workaround to this is removing the item animator but I'm searching a way to fix the remove animation in a `GridLayoutManager`.

[2022-07-05 20:12] fondesa opened #251 "Try JaCoCo report aggregation"
https://docs.gradle.org/7.4/userguide/jacoco_report_aggregation_plugin.html

[2022-11-01 15:27] maxirosson opened #256 "Upgrade Releases Hub Plugin to v4.0.0"
All plugin versions older than v3.2.0 will stop working since Nov 30, 2022

More info here: https://blog.dipien.com/releases-hub-gradle-plugin-v4-0-0-32cfca1d0de1

[2022-11-11 18:49] fondesa commented on #256
Done in the PR https://github.com/fondesa/recycler-view-divider/pull/267

[2022-11-11 18:49] #256 closed